<ul>
  <li> First Name: <%= current_user.first_name %> </li>
  <li> Last Name: <%= current_user.last_name %> </li>
  <li> Email: <%= current_user.email %> </li>
</ul>
<%= link_to "Logout", logout_path %>

<% if @main_address.id %>
  Address: <%= @main_address.address %>
  City: <%= @main_address.city %>
  State: <%= @main_address.state %>
  Zip Code: <%= @main_address.zip %>
  <%= link_to 'Update Main Address', edit_user_main_address_path(current_user.id, @main_address) %>
<% else %>
  <%= render '/shared/main_address_form' %>
<% end %>
