Directions To <%= @restaurant.name %>

<div id="directions_map"></div>

<% provide :head_tags do %>
<script>
  var origin = new google.maps.LatLng(<%=@address.latitude%>, <%=@address.longitude%>);
  var destination = new google.maps.LatLng(<%=@restaurant.latitude%>, <%=@restaurant.longitude%>);

  function genMap () {
    var directionsDisplay = new google.maps.DirectionsRenderer();
    var directionsService = new google.maps.DirectionsService();

    var mapOptions = {
      zoom: 12,
      center: origin
    };
    var directions_map = new google.maps.Map(document.getElementById('directions_map'), mapOptions);
    directionsDisplay.setMap(directions_map);
    calculateRoute(directionsDisplay, directionsService);
  }

  function calculateRoute(directionsDisplay, directionsService) {
    directionsService.route({
      origin: origin,
      destination: destination,
      travelMode: 'DRIVING'
    }, function (response, status) {
      if(status === 'OK') {
        directionsDisplay.setDirections(response);
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  }

  window.addEventListener("load", function(){
    genMap();
  });
</script>
<% end %>
