<% @visited.each do |visit| %>
  <%restaurant = visit.restaurant %>
  <div class='restaurant'>
    <h4 class="restaurant-name"><%= link_to restaurant.name, restaurant_path(restaurant.id) %></h4>
    <li class="restaurant-phone"><%= restaurant.phone_number %></li>
    <li class="restaurant-address"><%=  JSON.parse(restaurant.address).join(' ') %></li>
    <a class="restaurant-yelp_link" href="<%= restaurant.yelp_link %>"> Yelp Reviews </a>
    <img src=<%= restaurant.image %>
        alt="restaurant or food photo"
        class="photo"
        width="300"
        height="200" />

    <div class="review-container">
      <% my_review = restaurant.reviews.find_by(user_id: current_user.id) %>
      <% if my_review %>
        <h5>My Review</h5>
        <ul>
          <li>Title: <%= my_review.title %></li>
          <li>Rating: <%= my_review.rating %></li>
          <li><%= my_review.review %></li>
        </ul>
      <% else %>
        <h5>Leave a Review</h5>
        <%= form_for [restaurant,@review] do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.label :title, "Review Title" %>
          <%= f.text_field :title %>
          <%= f.label :rating %>
          <%= f.number_field :rating, min: 1, max: 5 %>
          <%= f.label :review %>
          <%= f.text_area :review %>
          <%= f.submit  %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
