
<main>
  <div class="jumbotron">
    <div class="title">
      <h1>Find Matches</h1>
    </div>
    <div class="heading">
      <% if @facade %>
        <p>Your main address is used by default to find matches, but you can specify a different location in the "Specify Location" search below.  If you like the photos and want more information on the restaurant, click the "thumbs-up" button.  If you would rather pass, click the "thumbs-down" button.  Click "Done" when you're ready to see the results!</p>
      <% else %>
        <h2>No location specified.</h2>
        <p>Please specify a location or click "Dashboard" and add a main address.</p>
      <% end %>
    </div>
  </div>
  <div class="container main-container">
    <div class="row">

      <% if @facade %>
        <div class="col-10">

          <div class="container images-container">
            <div class="row">
              <% @facade.images.each do |image| %>
                <div class="col-sm image-container">
                  <%= image_tag "#{image}", 
                    alt: "restaurant or food photo", 
                    class: "photo" %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="container feedback-container">
            <%= button_to "", like_path(restaurant_info: @facade.restaurant_info), method: :post, class: "like-button", id: "Like" %>
            <%= button_to "", dislike_path, method: :delete, class: "like-button dislike", id: "Pass" %>
          </div>

          <div class="container feedback-container">
            <%= button_to "Done", finish_path, method: :patch,  class: "btn btn-success", id: "Finish" %>
          </div>

        </div>
      <% end %>

      <div class="col-2 aside">
        <h3 >Specify a Location</h3> 
        <div class="form-container">
          <%= form_tag(matches_path, method: "get") do %>
            <%= label_tag(:location, "Search for:") %>
            <%= text_field_tag(:location) %>
            <%= submit_tag("Find Matches", class: "btn btn-success aside-button") %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</main>
