<main>
  <% if @facade %>
    <h2>Pick or Pass?</h2>
    <div class="photo-container">
      <% @facade.images.each do |image| %>
        <img src=<%= image %>
            alt="restaurant or food photo"
            class="photo"
            width="300"
            height="200" />
      <% end %>
    </div>
    <div class="photo-feedback-container">
      <%= button_to "Like", like_path(restaurant_info: @facade.restaurant_info), method: :post, class: "like" %>
      <%= button_to "Finish", finish_path, method: :patch,  class: "finish" %>
      <%= button_to "Pass", dislike_path, method: :delete, class: "dislike" %>
    </div>
  <% else %>
    <h2>No location specified.  Please specify a location or click "Default Location".</h2>
  <% end %>
</main>
<aside>
  <div class="location-search-container">
    <h3 >Specify a Location</h3> 
    <%= form_tag(matches_path, method: "get") do %>
      <%= label_tag(:location, "Search for:") %>
      <%= text_field_tag(:location) %>
      <%= submit_tag("Find Matches") %>
    <% end %>
  </div>
</aside>