<!DOCTYPE html>
<html>
  <head>
    <title>Pitcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['google_maps_api_key']}" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?callback=genMap&key=#{ENV['google_maps_api_key']}" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head_tags) %>
  </head>

  <body>

    <%= render partial: "partials/nav_bar" %>

    <% flash.each do |type, message| %>
      <%= "#{type}: #{message}" %>
    <% end %>

    <%= yield %>
  </body>
</html>
